# This file tells git that some files need Linux end-of-line markers
# otherwise our tooling changes the EOL and git thinks the file content has changed
* text=auto

*.project eol=lf
*.html eol=lf
*.js   eol=lf
*.json eol=lf
*.less eol=lf
*.md   eol=lf
*.svg  eol=lf
*.xml  eol=lf
*.sh   eol=lf
*.scss eol=lf

*.bat  eol=crlf

*.png  binary
*.jpg  binary
*.gif  binary